@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Customer List</h1>
    <a asp-action="CustomerList" class="btn btn-primary">Customer List</a>
    <a asp-action="CreateEditCustomer" class="btn btn-primary">Add New Customer</a>
</div>
